
:root {
    --sidebar-width: 265px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'helvetica neue', sans-serif;
    font-size: 12px;
    min-width:  960px;
    min-height: 540px;
}

img, div, canvas {
    image-rendering: optimizeSpeed;             /* Legal fallback */
    image-rendering: optimize-contrast;         /* CSS3 Proposed  */
    image-rendering: crisp-edges;               /* CSS4 Proposed  */
    image-rendering: pixelated;                 /* CSS4 Proposed  */
}

main {
    display: flex;
    height: 100vh;
}

.isSelected {
    background-color: rgba(146, 209, 184, 1);
    color: #222;
}

.marker,
.Marker {
    display: none;
    background-color: rgba(0,0,255, 0.3);
    border: 2px solid blue;
    color: rgba(255,255,255,0.9);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    height: 8px;
    width: 8px;
    pointer-events: none;
}

.Screen {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #555;
}

.Viewport {
    position: relative;
    background-color: orange;
    cursor: default;
}

.Viewport canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/** Sidebar **/

.Sidebar {
    background-color: #efefef;
    color: #222;
    flex: 0 0 var(--sidebar-width);
    height: 100vh;
    width: var(--sidebar-width);
    box-shadow: -3px 0px 10px rgba(0,0,0,0.2);
    z-index: 5;
}
.Panels {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.PanelHeader {
    background-color: #333;
    border-top: 1px solid #fafafa;
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    padding: 4px;
    text-transform: uppercase;
}

.Panels > div:first-child .PanelHeader {
    border-top: none;
}

/** info **/

.InfoPanel {
    flex-shrink: 1;
}

.InfoPanel-container {
    padding: 5px;
}

.InfoPanel a {
    color: #222;
}

.delete,
.export-world,
.explode-button {
    cursor: pointer;
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    padding: 4px;
}
.delete.isActive {
    background-color: #444;
    border-color: #111;
    color: #fff;
}

/** Zoom **/

.ZoomPanel {
    flex-shrink: 1;
}

.ZoomPanel-container {
    padding: 0.5rem;
}
.ZoomPanel-slider {
    width: 80px;
}
.ZoomPanel-factor {
    display: inline-block;
    font-size: 0.875rem;
}

/** map properties **/

.MapsPanel {
    flex-shrink: 1;
}

.MapsPanel-container {
    padding: 4px;
}

.MapsPanel-container select {
    display: block;
    width: 100%;
}

/** layers **/

.LayersPanel {
    flex-shrink: 1;
}

.LayersPanel-layers li {
    list-style: none;
    padding: 0.3em;
    cursor: default;
}

.LayersPanel-layers li:hover {
    box-shadow: inset 0 0 0px 2px rgb(146, 209, 184);
}

.LayersPanel-layers input {
    margin-right: 0.5em;
}

/** Tilesets **/

.TilesetsPanel {
    height: 40%;
    background-color: #e0e0e0;
}

.TilesetsPanel .tab-container {
    height: 100%;
    overflow: scroll;
}

.Tiles {
    overflow: scroll;
    padding-bottom: 3.5rem;
    position: relative;
    width: 100%;
}

.Tiles span {
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 6px 0 2px 2px;
    text-transform: uppercase;
}

.Tiles img {
    display: block;
    margin: 0;
}

/* Patterns */

.Patterns {
    position: relative;
}

.Patterns canvas {
    display: inline-block;
    vertical-align: middle;
}

/* Collisions */

.Collisions {
    display: flex;
    flex-wrap: wrap;
}

.Collisions div {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px;
}

.Collisions div.isActive {
    border-color: blue;
}

.Collisions canvas {
    display: block;
    pointer-events: none;
}

/**/

.EntitiesPanel {
    position: relative;
    height: 50%;
    overflow: scroll;
    background-color: #efefef;
}

/* Tabs */

.tabs {
    display: flex;
    margin-top: 5px;
}

.tabs [data-tab] {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    flex: 1 33.33%;
    font-weight: 600;
    font-size: 11px;
    padding: 0.3rem 0;
    text-align: center;
    text-transform: uppercase;
}

.tabs [data-tab] + [data-tab] {
    border-left: 1px solid #ccc;
}

.tabs [data-tab].active {
    background-color: #e0e0e0;
    border: 1px solid #777;
    border-bottom: none;
}

.tab-container [data-tab]:not(:first-child) {
    display: none;
}


/* Modal & overlay */

.Overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
}

.Modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    width: 960px;
    height: 550px;
    z-index: 15;
}
.Modal-close {
    position: absolute;
    top: -20px;
    right: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer
}
.Modal-content {
    padding: 15px;
    height: 100%;
    overflow: scroll;
}

.Modal-footer {
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 0.5rem 1rem;
}
.Button {
    display: inline-block;
    padding: 0.2rem 0.3rem;
    border: 1px solid #aaa;
    border-radius: 3px;
}

/* animation stuff */
main {
    perspective: 600px;
}

.Screen {
    transform-style: preserve-3d;
    transition: transform 1s ease;
}
.Viewport {
    perspective: 1200px;
    transform-style: preserve-3d;
}
.Viewport canvas {
    /*transition: transform 1s ease;*/
}

main.explode .Screen {
    transform: rotateX(12deg) rotateY(70deg) rotateZ(-5deg) translateX(140px);
}
