
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
    height: 100%;
}

body {
    font-family: 'helvetica neue', arial, helvetica, sans-serif;
    min-width:  960px;
    min-height: 540px;
}

img, div, canvas {
    /*image-rendering:optimizeSpeed;             /* Legal fallback */
    /*image-rendering:-moz-crisp-edges;          /* Firefox        */
    /*image-rendering:-o-crisp-edges;            /* Opera          */
    /*image-rendering:-webkit-optimize-contrast; /* Safari         */
    /*image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    /*image-rendering:crisp-edges;               /* CSS4 Proposed  */
    /*image-rendering:pixelated;                 /* CSS4 Proposed  */
}

main {
    height: 100%;
    padding-right: 320px;
}

.canvas-container {
    float: left;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.viewport {
    position:           relative;
    background-color:   orange;
    cursor:             default;
}

.viewport canvas {
    position:   absolute;
    top:        0;
    left:       0;
}

.sidebar {
    float: right;
    background-color: #efefef;
    width: 320px;
    height: 100%;
    margin-right: -320px;
}

.layers-container {
    position:   absolute;
    top:        0;
    height:     50%;
    width:      320px;
}

.layers {
    height:         100%;
    overflow:       auto;
    padding-bottom: 20px;
}

.layers li {
    list-style: none;
    font-size:  0.9rem;
    padding:    0.3em;
}

.layers input {
    margin-right: 0.5em;
}

.layers-container .controls {
    position:           absolute;
    bottom:             0;
    width:              100%;
    background-color:   #fff;
}

.layers-container .controls span {
    display:    block;
    border:     1px solid #ccc;
    text-align: center;
    line-height:20px;
    cursor:     default;
}

.tiles-container {
    position:   absolute;
    top:        50%;
    height:     50%;
    width:      320px;
    background-color: #e0e0e0;
    overflow:   auto;
}

.tiles li {
    float:          left;
    color:          #777;
    font-size:      0.7rem;
    width:          33.3%;
    padding:        0.5em;
    border-bottom:  1px solid #ccc;
    cursor:         default;
    list-style:     none;
    text-align:     center;
}

.tiles li img {
    display:        block;
    margin:         0 auto 0.3rem auto;
    vertical-align: middle;
}

/* Tabs */

.tabs {
    height:         32px;
    border-top:     1px solid #aaa;
    border-bottom:  1px solid #aaa;
}

.tabs [data-tab] {
    float:              left;
    font-size:          0.9rem;
    width:              50%;
    text-align:         center;
    padding:            0.45rem 0;
    cursor:             default;
    background-color:   #fff;
}

.tabs [data-tab]:first-child {
    border-right: 1px solid #ccc;
}

.tabs [data-tab].active {
    background-color: #efefef;
}

